
Youth_Puzzles/Intermediate/CachedAssetRegistry.bin

Youth_Puzzles/Intermediate/ReimportCache/3688439234.bin

Youth_Puzzles/Saved/AutoScreenshot.png

Youth_Puzzles/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini

Youth_Puzzles/Saved/Logs/Youth.log
